html{
    background-color:black;
    border-collapse: separate;
    border-spacing: 15px;}

img{
    border:2px solid;
    height:150px;
}

h1{
    font-size:50px;
    font-style:italic;
    color:yellow;
}
h2{
    font-size:25px;
    color:lightBlue;
}
.header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
    background-color: #cae8ca;
}
.header a:hover {
  background-color:#a6d6f6;
  color: black;
}
#header{
    display:flex;
    justify-content:space-around;
    background:rgb(123,145,167);
    font-size:20px;
}
#castpage{  
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
}
#about{  
      float: left;
      color: black;
      text-align: center;
      padding: 12px;
      text-decoration: none;
      font-size: 18px; 
      line-height: 25px;
      border-radius: 4px;
        
}
#tickets{
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
}
#home{
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
}
.joe{
    font-size:20px;
    font-style:italic;
    font-weight:bold; 
    text-align:center;
    border:15px double;
    font-family: 'Clicker Script', cursive;
    color:teal;
}
#joeImage{
    border-radius: 750px;
}

#joe{
    color:salmon;
}
.sal{
    text-align: right;
    border:#99a8ff dashed 5px;
    color:#99ffff;
}
#sal{
    color:lightGreen;
}
#salImage{
    border-radius: 5000px;
}
.murr{
    text-align: right;
    border:ridge #f1a0f7 10px;
    font-family: 'Lily Script One', cursive;
    color:white;
}
#murr{
    color:#fbccff;
}
#murrImage{
    border-radius: 750px;

}
.quinn{
    text-align: left;
    border:#abff82 10px dotted;
    font-family: 'League Script', cursive;
    font-weight:bold; 
    color:pink;
}
#quinn{
    color:#42f4f4;
}
#quinnImage{
    border-radius:150px;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
.fa:hover {
    opacity: 0.7;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.footer{
    background:rgb(123,145,167);
    /*position: fixed;*/
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: right;
}